<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<% if Time.current.wday == 0 %>
  <%= image_tag("character_sun.png", size: "32x32", alt: "日曜日キャラ") %>
<% elsif Time.current.wday == 1 %>
  <%= image_tag("character_mon.png", size: "32x32", alt: "月曜日キャラ") %>
<% elsif Time.current.wday == 2 %>
  <%= image_tag("character_tue.png", size: "32x32", alt: "火曜日キャラ") %>
<% elsif Time.current.wday == 3 %>
  <%= image_tag("character_wed.png", size: "32x32", alt: "水曜日キャラ") %>
<% elsif Time.current.wday == 4 %>
  <%= image_tag("character_thu.png", size: "32x32", alt: "木曜日キャラ") %>
<% elsif Time.current.wday == 5 %>
  <%= image_tag("character_fri.png", size: "32x32", alt: "金曜日キャラ") %>
<% else %>
  <%= image_tag("character_sat.png", size: "32x32", alt: "土曜日キャラ") %>
<% end %>

<%= render 'latest_infomation', article_number: @blogs.count %>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
